
{%extends 'qianduan.html'%}

{%block title%}
增加单位
{%endblock%}
{% block js %}
<script src='/static/js/index.js'></script>


{% endblock %}
{% block style %}
<style>
    .elegant-aero {
margin-left:auto;
margin-right:auto;
max-width: 500px;
background: #D2E9FF;
padding: 20px 20px 20px 20px;
font: 12px Arial, Helvetica, sans-serif;
color: #666;
}
.elegant-aero h1 {
font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding: 10px 10px 10px 20px;
display: block;
background: #C0E1FF;
border-bottom: 1px solid #B8DDFF;
margin: -20px -20px 15px;
}
.elegant-aero h1>span {
display: block;
font-size: 11px;
}

.elegant-aero label>span {
float: left;
margin-top: 10px;
color: #5E5E5E;
}
.elegant-aero label {
display: block;
margin: 0px 0px 5px;
}
.elegant-aero label>span {
float: left;
width: 20%;
text-align: right;
padding-right: 15px;
margin-top: 10px;
font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
color: #888;
width: 70%;
padding: 0px 0px 0px 5px;
border: 1px solid #C5E2FF;
background: #FBFBFB;
outline: 0;
-webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
box-shadow: inset 0px 1px 6px #ECF3F5;
font: 200 12px/25px Arial, Helvetica, sans-serif;
height: 30px;
line-height:15px;
margin: 2px 6px 16px 0px;
}
.elegant-aero textarea{
height:100px;
padding: 5px 0px 0px 5px;
width: 70%;
}
.elegant-aero select {
appearance:none;
-webkit-appearance:none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
width: 70%;
}
.elegant-aero .button{
padding: 10px 30px 10px 30px;
background: #66C1E4;
border: none;
color: #FFF;
box-shadow: 1px 1px 1px #4C6E91;
-webkit-box-shadow: 1px 1px 1px #4C6E91;
-moz-box-shadow: 1px 1px 1px #4C6E91;
text-shadow: 1px 1px 1px #5079A3;

}
.elegant-aero .button:hover{
background: #3EB1DD;
}

</style>
{% endblock %}
{% block body %}
     <form action="" method='post' class="elegant-aero">
        {%csrf_token%}
        <p>
            客户名称：<input type="text" name='uname' id="uname2">
        </p>
        <p>
            手机号&nbsp;：<input type="text" name='uphone'  id="uphone">
        </p>
        <p>
            微信号&nbsp;：<input type="text" name='uwei' id="uwei">
        </p>
        <p>
            QQ&nbsp;&nbsp;号：<input type="text" name='uqq' id="uqq">
        </p>
        <p>
            收货地址：<input type="text" name='uaddres' id="uaddres">
        </p>

{#        <p>#}
{#            发票类型：#}
{#            <select name='uchoice' id="uchoice">#}
{#            {% ifequal custMess.uchoice "纸质发票" %}#}
{##}
{#                  <option value ="纸质发票">纸质发票</option>#}
{#                  <option value ="电子发票">电子发票</option>#}
{#            {% else %}#}
{#                  <option value ="电子发票">电子发票</option>#}
{#                  <option value ="纸质发票">纸质发票</option>#}
{#            {% endifequal %}#}
{#            </select>#}
{#        </p>#}
        <p>
            发票点子：<input type="text" name='uTax' id="uTax">
        </p>
        <p>
            <input type="button" value='保存客户' id="submitCust">
            <a href="/customer">退出</a>
        </p>
     </form>

{% endblock %}
{% block end %}
    <script>
    $("#submitCust").click(function(){
        check_addCust()
    });
     function check_addCust() {
            $.ajax({
                    'url':'/customer/addCuster',
                    'type':'POST',
                    'data':{
                        'uphone':$('#uphone').val(),
                        'uwei':$('#uwei').val(),
                        'uqq':$('#uqq').val(),
                        'uname':$('#uname2').val(),
                        'uaddres':$('#uaddres').val(),
                        {#'uchoice':$('#uchoice').val(),#}
                        'uTax':$('#uTax').val(),
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                        },
                    'dataType':'json',
                    'success':function (data) {
                        console.log(data.status)
                        {#添加失败#}
                        if(data.status==1){
                            html=data.message;
                            alert(html);

                            }
                        {#添加成功#}
                        else{
                            html=data.message;
                            alert(html);
                            window.location.href='/customer/';
                            }
                        }
                    });
            }
</script>

{% endblock %}
