{%extends 'qianduan.html'%}
{%block title%}
修改单位
{%endblock%}
{% block style %}
    <style>
    #addCustomer{
    font-weight: bold;
    margin-top: 15px;
    list-style: none;
    cursor:pointer;
    color: white;
    text-decoration:none ;
    background-color: #614cf3;
    text-align: left;
    font-size: 20px;
    }

    </style>
{% endblock %}
{% block body %}
    年份：
            <select id="year_select" name='year_select'>
            {% for i in yearList %}
                {% ifequal i year %}
                     <option value ="{{ i }}" selected>{{ i }}</option>
                     {% else %}
                    <option value ="{{ i }}">{{ i }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
    月份：
            <select id="mouth_select" name='mouth_select'>
            {% for i in monthList %}
                {% ifequal i month %}
                     <option value ="{{ i }}" selected>{{ i }}</option>
                     {% else %}
                    <option value ="{{ i }}">{{ i }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
{#    搜索：<input type="text" id="tomorrow_search">#}
   <table border="1" class="gridtable" id="tomorrow_body">
   <tr>
       <th>行号</th>
       <th>时间</th>
       <th>单位</th>
       <th>金额</th>
       <th>二维码</th>
       <th>开票员</th>
       <th>客户</th>
       <th>需求</th>
       <th>未完成</th>
       <th>预期安排</th>
   </tr>
   {% for i in tomorrowList %}
       <tr>
        <input type="hidden" name="id" value="{{i.id}}">
            <th>{{ forloop.counter }}</th>
            <th>{{ i.times }}</th>
           <th>{{ i.customerUnit }}<br>{{ i.customerPwd }}</th>
           <th>{{ i.arrange }}</th>
                <th ><a href="{% url 'order:upload' i.id %}" target="_blank">二维码</a></th>
           <th contenteditable="True" class="tomorrow_sourceName"><span>{{ i.sourceName }}</span></th>
       <th>{{ i.customerName }}</th>
       <th>{{ i.explain }}</th>
       <th>{{ i.notComple }}</th>
       <th><a href="{% url 'order:orderDate' i.id %}" target="_blank">预期安排</a></th>
       </tr>
   {% endfor %}

   <nav aria-label="Page navigation">
  <ul class="pagination" id="pagination1">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">1</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">2</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">3</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">4</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">5</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">6</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">7</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">8</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">9</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">10</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">11</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">12</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">13</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">14</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">15</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">16</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">17</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">18</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">19</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">20</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">21</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">22</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">23</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">24</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">25</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">26</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">27</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">28</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">29</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">30</a></li>
    <li><a href="javascript:void(0)" class="tomorrow-bottom-btn">31</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</table>
{% endblock %}
{% block end %}
    <script>
    $("#pagination1 li").click(function () {
        var rows = $(this).find('a').eq(0).text();
        search(rows)
    });
     function search(rows) {
        $.ajax({
                    'url':'/tomorrow/allOrderDate',
                    'type':'GET',
                    'data':{
                    'search':rows,
                    'mouth_select':$('#mouth_select').val(),
                    'year_select':$('#year_select').val(),
                        },
                    'dataType':'json',
                    'success':function (data) {
                        get_allOrder(data)
                    }
                    });

    }
     function get_allOrder(data) {
         $(function () {
             html1 = "<tr>\n" +
                 "       <th>行号</th>\n" +
                 "       <th>时间</th>\n" +
                 "       <th>单位</th>\n" +
                 "       <th>金额</th>\n" +
                 "       <th>二维码</th>\n" +
                 "       <th>开票员</th>\n" +
                 "       <th>客户</th>\n" +
                 "       <th>需求</th>\n" +
                 "       <th>未完成</th>\n" +
                 "       <th>预期安排</th>\n" +
                 "   </tr>";
             for (var i = 0; i < data.length; i++) {
                 html1 += "<tr>\n" +
                     "        <input type=\"hidden\" name=\"id\" value=\""+data[i].id+"\">\n" +
                     "            <th>"+(i+1)+"</th>\n" +
                     "            <th>"+data[i].times+"</th>\n" +
                     "           <th>"+data[i].customerUnit+"<br>"+data[i].customerPwd+ "</th>\n" +
                     "           <th>"+data[i].arrange+"</th>\n" +
                     "<th ><a href=\"/order/upload/"+ data[i].id+" \" target=\"_blank\">二维码</a></th>" +
                     "           <th contenteditable=\"True\" class=\"tomorrow_sourceName\"><span>"+data[i].sourceName+"</span></th>\n" +
                     "       <th>"+data[i].customerName+"</th>\n" +
                     "       <th>"+data[i].explain+"</th>\n" +
                     "       <th>"+data[i].notComple+"</th>\n" +
                     " <th><a href=\"/order/orderDate/"+data[i].id+"\" target=\"_blank\">预期安排</a></th>" +
                     "       </tr>";
             }
             $("#tomorrow_body").html(html1);
         });
     }
    </script>
{% endblock %}