{%extends 'qianduan.html'%}
{%block title%}
修改单位
{%endblock%}
{% block style %}
    <style>
    #addCustomer{
    font-weight: bold;
    margin-top: 15px;
    list-style: none;
    cursor:pointer;
    color: white;
    text-decoration:none ;
    background-color: #614cf3;
    text-align: left;
    font-size: 20px;
    }

    </style>
{% endblock %}
{% block body %}
     <div>
            <a href="{% url 'customer:addCuster' %}" id="addCustomer">增加客户</a>
        </div>
   <table border="1" class="gridtable">
    <tr>
            <th>客户来源</th>
            <th>手机号</th>
            <th>微信号</th>
            <th>QQ号</th>
            <th>收货地址</th>
            <th>修改</th>
            <th>删除</th>
            </tr>
    {% for i in userCust %}
        <tr>
        <th>{{ i.customer.uname }}</th>
        <th>{{ i.customer.uphone }}</th>
        <th>{{ i.customer.uwei }}</th>
        <th>{{ i.customer.uqq }}</th>
        <th>{{ i.customer.uaddres }}</th>
{#        <th>{{ i.customer.uchoice }}</th>#}
        <th><a href="{% url 'customer:modifyCuster' i.customer.id %}">修改</a></th>
        <th><a href="/source/deletSource/{{ i.id }}">删除</a></th>
        </tr>
    {% endfor %}



</table>
{% endblock %}