{%extends 'qianduan.html'%}
{%block title%}
修改单位
{%endblock%}
{% block style %}
    <style>
    table input{
        width: 25px;
        background: rgba(123, 122, 172, 0.14);
        color: #131313;
        font-weight: bold
    }

    </style>
{% endblock %}
{% block body %}

   <table border="1" class="gridtable">
    <tr>
            <th>01</th>
            <th>02</th>
            <th>03</th>
            <th>04</th>
            <th>05</th>
            <th>06</th>
            <th>07</th>
            <th>08</th>
            <th>09</th>
            <th>10</th>
    </tr>
   <tr>
            <th><input type="text" value="{{ DList.d0 }}" id="text0">
                <input type="text" value="{{ DList.d1 }}" id="text1">
                <input type="text" value="{{ DList.d2 }}" id="text2">
                <input type="text" value="{{ DList.d3 }}" id="text3">
                <input type="text" value="{{ DList.d4 }}" id="text4">
            </th>
            <th><input type="text" value="{{ DList.d5 }}" id="text5">
                <input type="text" value="{{ DList.d6 }}" id="text6">
                <input type="text" value="{{ DList.d7 }}" id="text7">
                <input type="text" value="{{ DList.d8 }}" id="text8">
                <input type="text" value="{{ DList.d9 }}" id="text9">
            </th>
            <th><input type="text" value="{{ DList.d10 }}" id="text10">
                <input type="text" value="{{ DList.d11 }}" id="text11">
                <input type="text" value="{{ DList.d12 }}" id="text12">
                <input type="text" value="{{ DList.d13 }}" id="text13">
                <input type="text" value="{{ DList.d14 }}" id="text14">
            </th>
            <th><input type="text" value="{{ DList.d15 }}" id="text15">
                <input type="text" value="{{ DList.d16 }}" id="text16">
                <input type="text" value="{{ DList.d17 }}" id="text17">
                <input type="text" value="{{ DList.d18 }}" id="text18">
                <input type="text" value="{{ DList.d19 }}" id="text19">
            </th>
            <th><input type="text" value="{{ DList.d20 }}" id="text20">
                <input type="text" value="{{ DList.d21 }}" id="text21">
                <input type="text" value="{{ DList.d22 }}" id="text22">
                <input type="text" value="{{ DList.d23 }}" id="text23">
                <input type="text" value="{{ DList.d24 }}" id="text24">
            </th>
            <th><input type="text" value="{{ DList.d25 }}" id="text25">
                <input type="text" value="{{ DList.d26 }}" id="text26">
                <input type="text" value="{{ DList.d27 }}" id="text27">
                <input type="text" value="{{ DList.d28 }}" id="text28">
                <input type="text" value="{{ DList.d29 }}" id="text29">
            </th>
            <th><input type="text" value="{{ DList.d30 }}" id="text30">
                <input type="text" value="{{ DList.d31 }}" id="text31">
                <input type="text" value="{{ DList.d32 }}" id="text32">
                <input type="text" value="{{ DList.d33 }}" id="text33">
                <input type="text" value="{{ DList.d34 }}" id="text34">
            </th>
            <th><input type="text" value="{{ DList.d35 }}" id="text35">
                <input type="text" value="{{ DList.d36 }}" id="text36">
                <input type="text" value="{{ DList.d37 }}" id="text37">
                <input type="text" value="{{ DList.d38 }}" id="text38">
                <input type="text" value="{{ DList.d39 }}" id="text39">
            </th>
            <th><input type="text" value="{{ DList.d40 }}" id="text40">
                <input type="text" value="{{ DList.d41 }}" id="text41">
                <input type="text" value="{{ DList.d42 }}" id="text42">
                <input type="text" value="{{ DList.d43 }}" id="text43">
                <input type="text" value="{{ DList.d44 }}" id="text44">
            </th>
            <th><input type="text" value="{{ DList.d45 }}" id="text45">
                <input type="text" value="{{ DList.d46 }}" id="text46">
                <input type="text" value="{{ DList.d47 }}" id="text47">
                <input type="text" value="{{ DList.d48 }}" id="text48">
                <input type="text" value="{{ DList.d49 }}" id="text49">
            </th>
   </tr>
    <tr>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
    </tr>
       <tr>
             <th><input type="text" value="{{ DList.d50 }}" id="text50">
                 <input type="text" value="{{ DList.d51 }}" id="text51">
                 <input type="text" value="{{ DList.d52 }}" id="text52">
                 <input type="text" value="{{ DList.d53 }}" id="text53">
                 <input type="text" value="{{ DList.d54 }}" id="text54">
             </th>
            <th><input type="text" value="{{ DList.d55 }}" id="text55">
                <input type="text" value="{{ DList.d56 }}" id="text56">
                <input type="text" value="{{ DList.d57 }}" id="text57">
                <input type="text" value="{{ DList.d58 }}" id="text58">
                <input type="text" value="{{ DList.d59 }}" id="text59">
            </th>
            <th><input type="text" value="{{ DList.d60 }}" id="text60">
                <input type="text" value="{{ DList.d61 }}" id="text61">
                <input type="text" value="{{ DList.d62 }}" id="text62">
                <input type="text" value="{{ DList.d63 }}" id="text63">
                <input type="text" value="{{ DList.d64 }}" id="text64">
            </th>
            <th><input type="text" value="{{ DList.d65 }}" id="text65">
                <input type="text" value="{{ DList.d66 }}" id="text66">
                <input type="text" value="{{ DList.d67 }}" id="text67">
                <input type="text" value="{{ DList.d68 }}" id="text68">
                <input type="text" value="{{ DList.d69 }}" id="text69">
            </th>
            <th><input type="text" value="{{ DList.d70 }}" id="text70">
                <input type="text" value="{{ DList.d71 }}" id="text71">
                <input type="text" value="{{ DList.d72 }}" id="text72">
                <input type="text" value="{{ DList.d73 }}" id="text73">
                <input type="text" value="{{ DList.d74 }}" id="text74">
            </th>
            <th><input type="text" value="{{ DList.d75 }}" id="text75">
                <input type="text" value="{{ DList.d76 }}" id="text76">
                <input type="text" value="{{ DList.d77 }}" id="text77">
                <input type="text" value="{{ DList.d78 }}" id="text78">
                <input type="text" value="{{ DList.d79 }}" id="text79">
            </th>
            <th><input type="text" value="{{ DList.d80 }}" id="text80">
                <input type="text" value="{{ DList.d81 }}" id="text81">
                <input type="text" value="{{ DList.d82 }}" id="text82">
                <input type="text" value="{{ DList.d83 }}" id="text83">
                <input type="text" value="{{ DList.d84 }}" id="text84">
            </th>
            <th><input type="text" value="{{ DList.d85 }}" id="text85">
                <input type="text" value="{{ DList.d86 }}" id="text86">
                <input type="text" value="{{ DList.d87 }}" id="text87">
                <input type="text" value="{{ DList.d88 }}" id="text88">
                <input type="text" value="{{ DList.d89 }}" id="text89">
            </th>
            <th><input type="text" value="{{ DList.d90 }}" id="text90">
                <input type="text" value="{{ DList.d91 }}" id="text91">
                <input type="text" value="{{ DList.d92 }}" id="text92">
                <input type="text" value="{{ DList.d93 }}" id="text93">
                <input type="text" value="{{ DList.d94 }}" id="text94">
            </th>
            <th><input type="text" value="{{ DList.d95 }}" id="text95">
                <input type="text" value="{{ DList.d96 }}" id="text96">
                <input type="text" value="{{ DList.d97 }}" id="text97">
                <input type="text" value="{{ DList.d98 }}" id="text98">
                <input type="text" value="{{ DList.d99 }}" id="text99">
            </th>
   </tr>
   <tr>
        <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>

   </tr>
<tr>
            <th><input type="text" value="{{ DList.d100 }}">
                <input type="text" value="{{ DList.d101 }}">
                <input type="text" value="{{ DList.d102 }}">
                <input type="text" value="{{ DList.d103 }}">
                <input type="text" value="{{ DList.d104 }}">
            </th>
            <th><input type="text" value="{{ DList.d105 }}">
                <input type="text" value="{{ DList.d106 }}">
                <input type="text" value="{{ DList.d107 }}">
                <input type="text" value="{{ DList.d108 }}">
                <input type="text" value="{{ DList.d109 }}">
            </th>
            <th><input type="text" value="{{ DList.d110 }}">
                <input type="text" value="{{ DList.d111 }}">
                <input type="text" value="{{ DList.d112 }}">
                <input type="text" value="{{ DList.d113 }}">
                <input type="text" value="{{ DList.d114 }}">
            </th>
            <th><input type="text" value="{{ DList.d115 }}">
                <input type="text" value="{{ DList.d116 }}">
                <input type="text" value="{{ DList.d117 }}">
                <input type="text" value="{{ DList.d118 }}">
                <input type="text" value="{{ DList.d119 }}">
            </th>
            <th><input type="text" value="{{ DList.d120 }}">
                <input type="text" value="{{ DList.d121 }}">
                <input type="text" value="{{ DList.d122 }}">
                <input type="text" value="{{ DList.d123 }}">
                <input type="text" value="{{ DList.d124 }}">
            </th>
            <th><input type="text" value="{{ DList.d125 }}">
                <input type="text" value="{{ DList.d126 }}">
                <input type="text" value="{{ DList.d127 }}">
                <input type="text" value="{{ DList.d128 }}">
                <input type="text" value="{{ DList.d129 }}">
            </th>
            <th><input type="text" value="{{ DList.d130 }}">
                <input type="text" value="{{ DList.d131 }}">
                <input type="text" value="{{ DList.d132 }}">
                <input type="text" value="{{ DList.d133 }}">
                <input type="text" value="{{ DList.d134 }}">
            </th>
            <th><input type="text" value="{{ DList.d135 }}">
                <input type="text" value="{{ DList.d136 }}">
                <input type="text" value="{{ DList.d137 }}">
                <input type="text" value="{{ DList.d138 }}">
                <input type="text" value="{{ DList.d139 }}">
            </th>
            <th><input type="text" value="{{ DList.d140 }}">
                <input type="text" value="{{ DList.d141 }}">
                <input type="text" value="{{ DList.d142 }}">
                <input type="text" value="{{ DList.d143 }}">
                <input type="text" value="{{ DList.d144 }}">
            </th>
            <th><input type="text" value="{{ DList.d145 }}">
                <input type="text" value="{{ DList.d146 }}">
                <input type="text" value="{{ DList.d147 }}">
                <input type="text" value="{{ DList.d148 }}">
                <input type="text" value="{{ DList.d149 }}">
            </th>

   </tr>
   <tr>
        <th>31</th>
   </tr>
   <tr>
       <th><input type="text" value="{{ DList.d150 }}">
           <input type="text" value="{{ DList.d151 }}">
           <input type="text" value="{{ DList.d152 }}">
           <input type="text" value="{{ DList.d153 }}">
           <input type="text" value="{{ DList.d154 }}">
       </th>
   </tr>
       <input type="button" value="保存更改" id="order_button">
        <input type="button" id="orderDate_button" value="一键清空">
       <input type="hidden" value="{{ getid }}" id="order_hidden">
</table>
{% endblock %}
{% block end %}
    <script>
    $('#orderDate_button').click(function () {
        for(var i=7;i<162;i++){
            s1=$('body input').eq(i).val('');
        }
    });
    $('#order_button').click(function () {
        var s='';
        for(var i=7;i<162;i++){
            s1=$('body input').eq(i).val();
               s1=s1.replace(/\s+/,'');
               s+=s1+',';
        }
         $.ajax({
                    'url':'/order/changeOrderDate',
                    'type':'GET',
                    'data':{
                        'total':s,
                        'id':$('#order_hidden').val()
                        },
                    'dataType':'json',
                    'success':function (data) {
                        window.location.href='/order'
                    }
                    });
    })
    </script>
{% endblock %}