{%extends 'qianduan.html'%}
{%block title%}
我的订单
{%endblock%}
{% block style %}
    <style>
    #addCustomer{
    font-weight: bold;
    margin-top: 15px;
    list-style: none;
    cursor:pointer;
    color: white;
    text-decoration:none ;
    background-color: #614cf3;
    text-align: left;
    font-size: 20px;
    }
    #change_show{
        cursor: pointer;
    }
    #float_status{
        background-color: white;
         width: 50px;
         height: 220px;
        border:1px solid #131313;
        position: absolute;
        right: 84px;
        top: 144px;
        display: none;
        cursor:pointer;

    }
    </style>
{% endblock %}
{% block body %}
    <div>
            <a href="{% url 'order:modifyOrder' 0 %}" id="addOrder">增加订单</a>
        <a href="{% url 'order:saveOrder' %}">保存订单</a>
    </div>
    <div>
    年份：
            <select id="year_select" name='year_select'>
            {% for i in yearList %}
                {% ifequal i year %}
                     <option value ="{{ i }}" selected>{{ i }}</option>
                     {% else %}
                    <option value ="{{ i }}">{{ i }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
    月份：
            <select id="mouth_select" name='mouth_select'>
            {% for i in monthList %}
                {% ifequal i month %}
                     <option value ="{{ i }}" selected>{{ i }}</option>
                     {% else %}
                    <option value ="{{ i }}">{{ i }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
    月份选择： <select id="year_select" name='year_select' style="width: 56px" >
            {% for i in yearList %}
                {% ifequal i year %}
                     <option value ="{{ i }}" selected>{{ i }}</option>
                     {% else %}
                    <option value ="{{ i }}">{{ i }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
            <input type="text" style="width: 15px" value="{{ month }}">-
             <select id="year_select" name='year_select'  style="width: 56px" >
            {% for i in yearList %}
                {% ifequal i year %}
                     <option value ="{{ i }}" selected>{{ i }}</option>
                     {% else %}
                    <option value ="{{ i }}">{{ i }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
            <input type="text" style="width: 15px" value="{{ month }}">
    订单状态：
            <select id="status_select" name='status_select'>
             <option value ="所有状态">所有状态</option>
            {% for key,value in dic.items %}
                {% ifequal status key %}
                     <option value ="{{ value }}" selected>{{ value }}</option>
                     {% else %}
                    <option value ="{{ value }}">{{ value }}</option>
                {% endifequal %}
            {% endfor %}
            </select>
    状态选择：
        <input type="checkbox" checked value="未安排" class="check_box_list"><span style="color: #e13be0" >未安排</span>
        <input type="checkbox" checked value="已安排" class="check_box_list"><span style="color: #1f8110" >已安排</span>
        <input type="checkbox" checked value="待寄出" class="check_box_list"><span style="color: #1821b4" >待寄出</span>
        <input type="checkbox" checked value="待付款" class="check_box_list"><span style="color: #fe0f2e" >待付款</span>
        <input type="checkbox" checked value="已完结" class="check_box_list"><span style="color: #131313" >已完结</span>
    单位搜索：<input type="text" id="unitSerch" name="'unitSerch">
    </div>

   <table border="1" class="gridtable" id="orader_body">
    <tr>
        <th>接单时间</th>
        <th>接单账号</th>
        <th>客户姓名</th>
        <th>抬头</th>
        <th>要求</th>
        <th>数量</th>
        <th>未打完</th>
         <th>预期安排</th>
         <th>再次下单</th>
         <th>二维码</th>
        <th>开票员</th>
        <th>截止时间</th>
        <th>发票类型</th>
        <th>状态</th>
        <th>拿取方式</th>
        <th>地址</th>
        <th>点子</th>
        <th>应收</th>
        <th>实收</th>
        <th>预计成本</th>
        <th>实际成本</th>
        <th>预计利润</th>
        <th>实际利润</th>

        <th>修改</th>
        <th>删除</th>
    </tr>
    {% for i in userCust %}
        <tr>
            <th class="change" contenteditable="false">{{ i.startTime }}</th>
            <th class="change" contenteditable="false">{{ i.orderName }}</th>
            <th class="change" contenteditable="false">{{ i.customerName }}</th>
            <th class="change" contenteditable="false">{{ i.customerUnit }}<br>{{ i.customerPwd }}</th>
            <th class="change" contenteditable="false">{{ i.explain }}</th>
            <th class="change" contenteditable="false">{{ i.count }}</th>
            <th class="change" contenteditable="false">{{ i.notComple }}</th>
             <th ><a href="{% url 'order:orderDate' i.id %}">预期安排</a></th>
             <th ><a href="{% url 'order:againOrder' i.id %}">再次下单</a></th>
             <th ><a href="{% url 'order:upload' i.id %}">二维码</a></th>
            <th class="change" contenteditable="false">{{ i.sourceName }}</th>
            <th class="change" contenteditable="false">{{ i.endTime }}</th>
            <th class="change" contenteditable="false">{{ i.style }}</th>
            <th class="change" contenteditable="false" id="order_style{{ i.id }}">{{ i.status }}</th>
            <th class="change" contenteditable="false">{{ i.Delivery }}</th>
            <th class="change" contenteditable="false">{{ i.customerAddress }}</th>
            <th class="change" contenteditable="false">{{ i.uTax }}</th>
            <th class="change" contenteditable="false">{{ i.recivable }}</th>
            <th class="change" contenteditable="false">{{ i.netReceiots }}</th>
            <th class="change" contenteditable="false">{{ i.estimateCost }}</th>
            <th class="change" contenteditable="false">{{ i.actualCost }}</th>
            <th class="change" contenteditable="false">{{ i.estimatProfit }}</th>
            <th class="change" contenteditable="false">{{ i.actualProfit }}</th>

            <th ><a href="{% url 'order:modifyOrder' i.id %}">修改</a></th>
            <th ><a href="/order/deletSource/{{ i.id }}">删除</a></th>
        </tr>
    {% endfor %}

   <tr>
            <th class="change" contenteditable="false">合计</th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false">{{ totalCount }}</th>
            <th class="change" contenteditable="false">{{ notComple }}</th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false"></th>
            <th class="change" contenteditable="false">{{ recivable }}</th>
            <th class="change" contenteditable="false">{{ netReceiots }}</th>
            <th class="change" contenteditable="false">{{ estimateCost }}</th>
            <th class="change" contenteditable="false">{{ actualCost }}</th>
            <th class="change" contenteditable="false">{{ estimatProfit }}</th>
            <th class="change" contenteditable="false">{{ actualProfit  }}</th>
            <th ></th>
            <th ></th>
        </tr>
</table>
{% endblock %}
{% block end %}
    <script>
    $(function () {
        var checked='';
      $.each($('input:checkbox:checked'),function(){
          checked+=$(this).val()+',';
        });
      console.log(checked);
        $('.change').dblclick(function () {
            var rows = $(this).parent().parent().find('tr').index($(this).parent());
            var href=$('table tr').eq(rows).find('a').eq(3).attr('href');
            window.location.href=href
        });
        $("#mouth_select").change(function () {
             $.ajax({
                    'url':'/order/changeShow',
                    'type':'GET',
                    'data':{
                        'month':$('#mouth_select').val(),
                        'year':$('#year_select').val(),
                        'status':$('#status_select').val()
                        },
                    'dataType':'json',
                    'success':function (data) {
                        get_allOrder(data)
                    }
                    });
              $(document).on('dblclick','.change',function () {
            var rows = $(this).parent().parent().find('tr').index($(this).parent());
            var href=$('table tr').eq(rows).find('a').eq(3).attr('href');

            window.location.href=href
        });

        });
        $("#status_select").change(function () {
             $.ajax({
                    'url':'/order/changeShow',
                    'type':'GET',
                    'data':{
                        'month':$('#mouth_select').val(),
                        'year':$('#year_select').val(),
                        'status':$('#status_select').val()
                        },
                    'dataType':'json',
                    'success':function (data) {
                        get_allOrder(data)
                        }
                    });
            $(document).on('dblclick','.change',function () {
                console.log('测试');
            var rows = $(this).parent().parent().find('tr').index($(this).parent());
            var href=$('table tr').eq(rows).find('a').eq(3).attr('href');
            window.location.href=href
        });

        });
    });
    //动态改变状态颜色
     $("#float_status p").mouseover(function () {
        $("#float_status p").eq($(this).index()).css("color","red");
    });
     $("#float_status p").mouseout(function () {
        $("#float_status p").eq($(this).index()).css("color","#0F0F0F");
    });
     $(function(){
         chane_color()
     });
     function get_allOrder(data) {
         $(function () {
             var recivable = 0;
             var netReceiots = 0;
             var estimateCost = 0;
             var actualCost = 0;
             var estimatProfit = 0;
             var actualProfit = 0;
             html1 = "<tr>\n" +
                 "        <th>接单时间</th>\n" +
                 "        <th>接单号码</th>\n" +
                 "        <th>客户姓名</th>\n" +
                 "        <th>抬头</th>\n" +
                 "        <th>要求</th>\n" +
                 "        <th>数量</th>\n" +
                 "        <th>未打完</th>\n" +
                 "        <th>预期安排</th>\n" +
                 "        <th>再次下单</th>\n" +
                 "        <th>二维码</th>\n" +
                 "        <th>开票员</th>\n" +
                 "        <th>截止时间</th>\n" +
                 "        <th>发票类型</th>\n" +
                 "        <th>状态</th>\n" +
                 "        <th>拿取方式</th>\n" +
                 "        <th>地址</th>\n" +
                 "        <th>点子</th>\n" +
                 "        <th>应收</th>\n" +
                 "        <th>实收</th>\n" +
                 "        <th>预计成本</th>\n" +
                 "        <th>实际成本</th>\n" +
                 "        <th>预计利润</th>\n" +
                 "        <th>实际利润</th>\n" +
                 "        <th>修改</th>\n" +
                 "        <th>删除</th>\n" +
                 "    </tr>";

             for (var i = 0; i < data.length; i++) {
                 recivable += data[i].recivable;
                 netReceiots += data[i].netReceiots;
                 estimateCost += data[i].estimateCost;
                 actualCost += data[i].actualCost;
                 estimatProfit += data[i].estimatProfit;
                 actualProfit += data[i].actualProfit;
                 html1 += "<tr>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].startTime + "</th>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].tel + "</th>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].customerName + "</th>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].unit_name + "<br>"+data[i].unit_pwd + "</th>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].explain + "</th>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].count + "</th>\n" +
                     "            <th class=\"change\"  contenteditable=\"false\">" + data[i].notComple + "</th>\n" +
                     "<th contenteditable=\"false\"><a href=\"/order/orderDate/" + data[i].id + "\">预期安排</a></th>\n" +
                     "<th contenteditable=\"false\"><a href=\"/order/againOrder/" + data[i].id + "\">再次下单</a></th>\n" +
                     "<th contenteditable=\"false\"><a href=\"/order/upload/" + data[i].id + "\">二维码</a></th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].source + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].endTime + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].style + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\" id=\"order_style" + data[i].id + "\">" + data[i].status + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].Delivery + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].address + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].uTax + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].recivable + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].netReceiots + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].estimateCost + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].actualCost + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].estimatProfit + "</th>\n" +
                     "            <th class=\"change\" contenteditable=\"false\">" + data[i].actualProfit + "</th>\n" +
                     "            <th contenteditable=\"false\"><a href=\"/order/modifyOrder/" + data[i].id + "\">修改</a></th>\n" +
                     "            <th contenteditable=\"false\"><a href=\"/order/deletSource/" + data[i].id + "\">删除</a></th>\n" +
                     "        </tr>";
             }
             html1 += "<tr>\n" +
                 "            <th  contenteditable=\"false\">合计</th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\"></th>\n" +
                 "            <th contenteditable=\"false\">" + recivable + "</th>\n" +
                 "            <th contenteditable=\"false\">" + netReceiots + "</th>\n" +
                 "            <th contenteditable=\"false\">" + estimateCost + "</th>\n" +
                 "            <th contenteditable=\"false\">" + actualCost + "</th>\n" +
                 "            <th contenteditable=\"false\">" + estimatProfit + "</th>\n" +
                 "            <th contenteditable=\"false\">" + actualProfit + "</th>\n" +
                 "            <th ></th>\n" +
                 "            <th ></th>\n" +
                 "        </tr>";
             $("#orader_body").html(html1);
             chane_color()
         });
     }
     function chane_color() {
         $.get(
            '/order/getStatus',
            function(data){
                $.each(data,function(i,obj){
                    var str_oreder='#order_style'+obj.pk;
                    var order_style=$(str_oreder).text();
                    if(order_style=='未安排'){
                    $(str_oreder).css('color','#e13be0');
                    }else if(order_style=='已安排'){
                    $(str_oreder).css('color','#1f8110');
                    }else if(order_style=='待寄出'){
                    $(str_oreder).css('color','#1821b4');
                    }else if(order_style=='待付款'){
                    $(str_oreder).css('color','#fe0f2e');
                    }else{
                    $(str_oreder).css('color','#131313');
                }
                                })
            },
            'json'
            );
     }


    </script>
{% endblock %}