{%extends 'qianduan.html'%}
{%block title%}
修改单位
{%endblock%}
{% block style %}
    <style>
    #addCustomer{
    font-weight: bold;
    margin-top: 15px;
    list-style: none;
    cursor:pointer;
    color: white;
    text-decoration:none ;
    background-color: #614cf3;
    text-align: left;
    font-size: 20px;
    }

    </style>
{% endblock %}
{% block body %}
     <div>
            <a href="{% url 'source:addSource' %}" id="addCustomer">增加客户</a>
        </div>
   <table border="1" class="gridtable">
    <tr>
            <th>开票员名称</th>
            <th>手机号</th>
            <th>微信号</th>
            <th>加油站地址</th>
            <th>发票点子</th>
            <th>修改</th>
            <th>删除</th>
            </tr>
    {% for i in userSource %}
        <tr>
            <th>{{ i.source.uname }}</th>
            <th>{{ i.source.uphone }}</th>
            <th>{{ i.source.uwei }}</th>
        <th>{{ i.source.uaddres }}</th>
{#        <th>{{ i.customer.uchoice }}</th>#}
        <th>{{ i.source.uTax }}</th>
        <th><a href="{% url 'source:modifyCuster' i.source.id %}">修改</a></th>
        <th><a href="/customer/deletCuster/{{ i.id }}">删除</a></th>
        </tr>
    {% endfor %}



</table>
{% endblock %}